<h1>Demand accepted!</h1>
<br/>
<p>Dear <%= @current%>,</p>

<p></p>
<p>Following your request on <a href=<%= ENV['DOMAIN_HOST'] %> > thedowwinder </a>,
you are welcome to join the event the <%= @itinary.date %></p>
<p>From: <%= @itinary.start %></p>
<p>to: <%= @itinary.end %></p>
<br/>
<p>Looking forward to meet you there!</p>
<p>Cheers</p>
