<p>Hi <%= @owner %></p>

<p>I am interested to join the following event you organise:</p>
<p>Date: <%= @itinary.date%></p>
<p>From: <%= @itinary.start%></p>
<p>To: <%= @itinary.end%></p>

<p>You can contact me at: <%= mail_to @user%></p>

<p> or directly click on this link to accept my demand: = > 

<a href=<%="#{ENV['DOMAIN_NAME']}/confirmDemand?#{@params.to_query}" %>>link</a> < = 
. This will notify me that you accepted my demand.</p>

<p>Cheers</p>

<!-- old version of passing params as query string in the url, before '.to_query'
<a href=<%="#{ENV['DOMAIN_HOST']}/api/v1/confirmDemand?name=#{@owner}&ptoken=#{@token}&user=#{@user}&itinary=#{@itinary.id}"%>>
-->