<h1>Event invitation</h1>

<p> Hi <%= @p_email %> </p>
<p>
  You are invited to join a downwind event the  <%= @event.itinary.date %>:</p>
  <ul>
    <li>from: <%= @event.itinary.start %></li>
    <li>to: <%= @event.itinary.end %></li>
  </ul>   
  <br>
  The participants are:
<ul>
  <% if @event.participants %>
    <% @event.participants.each do |participant| %>
      <li><%= participant['email'] %></li>
    <% end %>
  <% end %>
</ul>

<p>With the app, you can:</p>
<ul>
  <li>CREATE an event on the map: click on the map and set the starting point, then again for 
  then end point, and select a date.
  </li>
  <li>INVITE buddies: go to the list, fond your event and select members.
  When you save the event, they will receive an invitation by email.
  </li>
  <li>PICTURE: you can add a picture to help people to localize a place.
  </li>
  <li>DEMAND: You can demand to particpate to an event: the owner will receive a mail and 
can confirm by a link</li>
</ul>


<br/>
<p>Enjoy your ride!</p>
<p>Cheers</p>